body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

h3 {
    margin: 0;
}

canvas {
    border: 1px dotted #ccc;
}

#canvas-resizer {
    position: absolute;
    top: calc(100% - 0.5rem);
    left: calc(100% - 0.5rem);
    background: gray;
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
}

#canvas-resizer:hover {
    background: lightgray;
    cursor: grab;
}

strong {
    font-weight: normal !important;
}

input[type=range] {
    vertical-align: bottom;
    width: 80px;
}

.container {
    display: flex;
}
section {
    padding: 1rem;
}
#controls {
    flex: 1 1 auto;
}
#canvas {
    flex: 3 1 auto;
}

.control {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 1rem;
    font-family: monospace;
    font-size: 11px;
}

.control-line {
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .container {
    display: block;
  }
  .controls {
      display: flex;
      flex-wrap: wrap;
  }
  .control {
      flex: 1 1 auto;
  }
  #slides {
      max-width: 120px;
  }
  #canvas {
      position: relative;
  }
  footer {
      position: absolute;
      bottom: -1.5rem;
      right: 1rem;
  }
  section {
      padding-bottom: 0;
  }
  section + section {
      padding-top: 0;
  }
  #download {
     position: fixed;
     top: 1rem;
     right: 1rem;
  }
}

button {
    font-size: 11px;
}

#download {
    font-size: initial;
}

button:not(:disabled):hover {
    cursor: pointer;
}

footer {
    text-align: right;
    font-size: 10px;
    margin-top: 1rem;
}
